
body > .container {
	padding-top: 60px;
}

.navbar-right {
	padding-top: 10px;
}

a.anchor{
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}

.truncate {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.title {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*.submissions .title {
	background-color: #03A9F4;
	color: #FFFFFF;
	padding-top: 25px;
	padding-bottom:25px;
	text-align: center;
	border-bottom: 1px #B6B6B6 solid;
	margin-top: -10px;
}*/

.gold .body:before, .gold .title.lead:before {
	display: inline-block;
	content: "";
	height: 20px;
	width: 20px;
	background: url('/static/img/star-circle.png');
	background-size: contain;
	background-repeat: no-repeat;	
	margin-bottom: 1px;
	margin-right: 5px;
}


.item {
	min-height: 200px;
	margin-bottom: 1em;
	position: relative;

/* 	background-color: #EEEEEE;
	border-left: 1px #ddd solid;
	box-sizing: border-box;
	padding: 0px 15px;*/
}

.top-box {
	position: relative;
	color: white;
	padding-right: 10px;
}


.comment .top-box {
	background-color: #0288D1;
}

.submission .top-box {
	background-color: #0288D1;
}

.gold .top-box {
	background-color: #f0ad4e;
}

.top-box a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.meta-info {
  vertical-align: bottom;
  position: absolute;
  width: 100%;
  bottom: 0px;
  /*min-width: 350px;*/
}