{% extends "base.html" %}
  {% block content %}
  {%if submissions%}
  <div id="sub-container" class="container">
  <a class="anchor" name="submissions"></a>
	<h1>Top Submissions in r/{{subreddit.title}}</h1>
    <p> {%if subreddit.updated%}Updated: {{subreddit.updated.strftime('%Y-%m-%d') }}{%endif%}</p>
		{% for group in submissions|batch(2) %}
      <div class="row">
			{% for submission in group %}
        <div class="col-md-6 item submission {% if submission.gilded == 1 %}gilded{% else %}non-gilded{% endif %}">
        <a class="read-more" target="_blank" href="{{submission.url}}"></a>
          <div class="row top-box {% if submission.gilded == 1 %}gold{% else %}regular{% endif %}">
            <div class="col-xs-9 col-sm-9 text-left">
              {% if submission.url == submission.permalink %}
              self post
              {% else %}
              {{submission.domain | truncate(40, True) | safe}}
              {% endif %}
            </div>
            <div class="col-xs-3 col-sm-3 text-right">
              {{submission.created_utc|date}}
            </div>
          </div>
          <div class="row submission-body">
            <div class="col-xs-8 col-sm-8 text-left">
              <p class="lead"> {{submission.title | safe  }} </p>
            </div>
            <div class="col-xs-4 col-sm-4 text-right">
                <p class ="author"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{submission.author | truncate(13, True)}}</p>
                <p class="score"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> {{submission.score}}</p>
                <p class ="replies"><a class="read-replies" target="_blank" href="{{submission.permalink}}"></a><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{submission.comments}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
		{% endfor %}
  </div>
  {% endif %}
  {% if comments %}
  <div id="c-container" class="container">
    <a class="anchor" name="comments"></a>
    <h1>Top Comments in r/{{subreddit.title}}</h1>
    <p> {%if subreddit.updated%}Updated: {{subreddit.updated.strftime('%Y-%m-%d') }}{%endif%}</p>
    <div class="panel panel-info">
      <div class="panel-heading collapsed" role="tab" id="csHeading" data-toggle="collapse" data-parent="#accordion" href="#collapsecsBody" aria-expanded="false" aria-controls="collapsecsBody">
            <span class="glyphicon glyphicon-chevron-rightf"></span>
            Submissions for Top Comments
      </div>
      <div id="collapsecsBody" class="panel-collapse collapse" role="tabpanel" aria-labelledby="csHeading" aria-expanded="false" style="height: 0px;">
        <div class="list-group">
          {% for title in titles %}
            <a href="javascript:;" class="list-group-item comment-thread id-{{titles[title][0]}}">
              <span class="badge {{titles[title][1]}}">{{titles[title][1]}}</span>
              {{title|safe}}
            </a>
          {%endfor%}
        </div>
      </div>
    </div>
	{% for group in comments|batch(2) %}
    <div class="row">
		{% for comment in group %}
        <div class="col-md-6 item comment id-{{comment.sid}} {% if comment.gilded == 1 %}gilded{% else %}non-gilded{% endif %}">
        <a class="read-more" target="_blank" href="{{comment.url}}?context=3"></a>
          <div class="row top-box {% if comment.gilded == 1 %}gold{% else %}regular{% endif %}">
            <div class="col-xs-9 col-sm-9 text-left comment-parent">
              {{comment.stitle | truncate(120, True) | safe}}
            </div>
            <div class="col-xs-3 col-sm-3 text-right">
              {{comment.created_utc|date}}
            </div>
          </div>
          <div class="row comment-body">
            <div class="col-xs-8 col-sm-8 truncate text-left">
              {{comment.body | redditlink | safe | urlize() | nl2br | safe }}
            </div>
            <div class="col-xs-4 col-sm-4 text-right">
                <p class ="author"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{comment.author | truncate(13, True)}}</p>
                <p class="score"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> {{comment.score}}</p>
                <p class ="replies"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{comment.replies}}</p>
            </div>
          </div>
        </div>
		{% endfor %}
    </div>
  {% endfor %}
  </div>
  {% endif %}
{% endblock %}