{% extends "base.html" %}
  {% block content %}
  <div class="container">
  <a class="anchor" name="submissions"></a>
	<h1>Top Submissions in r/{{subreddit}}</h1>
		{% for group in submissions|batch(3) %}
		<div class="row submissions">
			{% for submission in group %}
				<div class="col-md-4 item {% if submission.gilded == 1 %}gold{% else %}regular{% endif %} submission">
          <div class="top-box text-right"><a class="read-more" target="_blank" href="{{submission.url}}"></a>{{ submission.day}}, {{submission.date}}</div>
					<p class="title lead">{{submission.title}}</p>
          <div class="row meta-info">
            <div class="col-sm-6">
              <p class ="author"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{submission.author}}</p>
            </div>
            <div class="col-sm-3">
              <p class="score"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> {{submission.score}}</p>
            </div>
            <div class="col-sm-3">
              <p class ="replies"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{submission.comments}}</p>
            </div>
				  </div>
        </div>
			{% endfor %}
		</div>
		{% endfor %}
  </div>
  <div class="container">
  <a class="anchor" name="comments"></a>
	<h1>Top Comments in r/{{subreddit}}</h1>
	{% for group in comments|batch(3) %}
	<div class="row comments">
		{% for comment in group %}
			{# Todo: Get Submission Name from Submission ID here #}
			<div class="col-md-4 item {% if comment.gilded == 1 %}gold{% else %}regular{% endif %} comment">
        <div class="top-box {% if comment.gilded == 1 %}gold{% endif %} text-right"><a class="read-more" target="_blank" href="{{comment.url}}?context=3"></a>{{ comment.day }}, {{comment.date}}</div>
        <p class="body excerpt truncate">{{comment.body}}</p>
        <a class="expand">Expand</a>
        <h6 class="title">{{comment.stitle}}</h6>
  			<div class="row meta-info">
          <div class="col-sm-7">
            <p class ="author"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{comment.author}}</p>
          </div>
          <div class="col-sm-3">
            <p class="score"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> {{comment.score}}</p>
          </div>
          <div class="col-sm-2">
            <p class ="replies"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{comment.replies}}</p>
          </div>
        </div>
			</div>
		{% endfor %}
	</div>
  	{% endfor %}
  </div>
{% endblock %}