{% extends "base.html" %}
  {% block content %}
  <div class="container">
  <a class="anchor" name="submissions"></a>
	<h1>Top Submissions in r/{{subreddit}}</h1>
		{% for group in submissions|batch(3) %}
<!--		<div class="row submissions"> -->
			{% for submission in group %}
				<div class="col-md-6 item {% if submission.gilded == 1 %}gold{% else %}regular{% endif %} submission">
          <div class="top-box text-right"><a class="read-more" target="_blank" href="{{submission.permalink}}"></a>{{ submission.created_utc|date}}</div>
					<p class="title lead">{{submission.title}}</p>
          <div class="row meta-info">
            <div class="col-sm-6">
              <p class ="author"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{submission.author}}</p>
            </div>
            <div class="col-sm-3">
              <p class="score"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> {{submission.score}}</p>
            </div>
            <div class="col-sm-3">
              <p class ="replies"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{submission.comments}}</p>
            </div>
				  </div>
        </div>
			{% endfor %}
<!--		</div> -->
		{% endfor %}
  </div>
  <div class="container">
  <a class="anchor" name="comments"></a>
	<h1>Top Comments in r/{{subreddit}}</h1>
<!-- remove subreddit listing for now  
  <ul>
    {% for title in titles %}
    <li>{{title}}</li>
    {% endfor %}
  </ul>
--> 
	{% for group in comments|batch(2) %}
		{% for comment in group %}
			{# Todo: Get Submission Name from Submission ID here #}
      <div class="row">
        <div class="col-md-12 item comment">
        <a class="read-more" target="_blank" href="{{comment.url}}?context=3"></a>
          <div class="row top-box {% if comment.gilded == 1 %}gold{% else %}regular{% endif %}">
            <div class="col-xs-9 col-sm-9 text-left">
              {{comment.stitle}}
            </div>
            <div class="col-xs-3 col-sm-3 text-right">
              {{comment.created_utc|date}}
            </div>
          </div>
          <div class="row comment-body">
            <div class="col-xs-8 col-sm-8 text-left">
              {{comment.body | redditlink | safe | urlize() | nl2br | safe  }}
            </div>
            <div class="col-xs-4 col-sm-4 text-right">
                <p class ="author"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{comment.author}}</p>
                <p class="score"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> {{comment.score}}</p>
                <p class ="replies"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{comment.replies}}</p>
            </div>
          </div>
        </div>
      </div>
		{% endfor %}
  {% endfor %}
  </div>
{% endblock %}