{% extends "base.html" %}
  {% block content %}
  <div class="container">
    {% if modal == True %}
    <!-- Modal Window lets user know subreddit is being added -->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 id="ModalLabel">No, it 's super modal!</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true" data-modal-action="cancel">Ok</button>
        </div>
      </div>
  {% endif %}
  <a class="anchor" name="submissions"></a>
  <div class="jumbotron">
    <h1>Not tracking {% if subreddit %}r/{{subreddit}}{% else %}that subreddit{% endif %}.</h1>
    <p>Add it to be tracked:</p>
    <div class="row">
    <div class="col-lg-6">
      <form method='POST'>
        <div class="input-group">
          <input name="to_add" type="text" class="form-control" placeholder="{% if subreddit %}{{subreddit}}{% else %}Enter subreddit name (e.g. 'funny')…{% endif %}">
          <span class="input-group-btn" method="POST">
            <button class="btn btn-primary" type="submit">Add it</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div><!-- /.col-lg-6 -->
  </div>
  </div>
  {% endblock %}