  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Last Week Reddit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#submissions">Submissions</a></li>
        <li><a href="#comments">Comments</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <!-- <li class="navbar-text switch"> Show Gold
      <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-switch-onColor bootstrap-switch-animate bootstrap-switch-off" style="width: 102px;"><div class="bootstrap-switch-container" style="width: 150px; margin-left: -50px;"><span class="bootstrap-switch-handle-on bootstrap-switch-warning" style="width: 50px;">ON</span><span class="bootstrap-switch-label" style="width: 50px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;">OFF</span><input id="switch-onColor" type="checkbox" checked="" data-on-color="warning"></div></div></li> -->
        <li><input type="checkbox" name="toggleGold" unchecked></li>
        <li><input type="checkbox" name="toggleGoldOnly" unchecked></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
